# Analise de Cliente para uma Tele

## Pacotes usados

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

## Carregando os dados

In [2]:
df=pd.read_csv('data80.csv')

## Visualisação

In [3]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
df.shape

(2666, 20)

In [5]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

## Contando a quantidade de clientes por tipo de serviço

In [6]:

df['Customer service calls'].value_counts()

1    945
2    608
0    555
3    348
4    133
5     49
6     17
7      8
9      2
8      1
Name: Customer service calls, dtype: int64

## Convertendo dados em Pandas para dados em Numpy excluind dados não numéricos (State, International Plan, Voice mail plan)

In [7]:
#variáveis independentes 
X = df[[ 'Account length', 'Area code', 
       'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls']] .values  #.astype(float)
X[0:5]

array([[128.  , 415.  ,  25.  , 265.1 , 110.  ,  45.07, 197.4 ,  99.  ,
         16.78, 244.7 ,  91.  ,  11.01,  10.  ,   3.  ,   2.7 ,   1.  ],
       [107.  , 415.  ,  26.  , 161.6 , 123.  ,  27.47, 195.5 , 103.  ,
         16.62, 254.4 , 103.  ,  11.45,  13.7 ,   3.  ,   3.7 ,   1.  ],
       [137.  , 415.  ,   0.  , 243.4 , 114.  ,  41.38, 121.2 , 110.  ,
         10.3 , 162.6 , 104.  ,   7.32,  12.2 ,   5.  ,   3.29,   0.  ],
       [ 84.  , 408.  ,   0.  , 299.4 ,  71.  ,  50.9 ,  61.9 ,  88.  ,
          5.26, 196.9 ,  89.  ,   8.86,   6.6 ,   7.  ,   1.78,   2.  ],
       [ 75.  , 415.  ,   0.  , 166.7 , 113.  ,  28.34, 148.3 , 122.  ,
         12.61, 186.9 , 121.  ,   8.41,  10.1 ,   3.  ,   2.73,   3.  ]])

In [8]:
#variável dependente 
y=df[['Churn']].values

## Normalização que fornece valor médio 0 e váriáncia unitária

In [9]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

## Repartindo a base de dados em treinamento e test

In [10]:
from sklearn.model_selection import train_test_split
X_treino, X_teste, y_treino, y_teste = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Conjunto Treino:', X_treino.shape,  y_treino.shape)
print ('Conjunto Teste:', X_teste.shape,  y_teste.shape)

Conjunto Treino: (2132, 16) (2132, 1)
Conjunto Teste: (534, 16) (534, 1)

## Treinando

In [11]:
from sklearn.neighbors import KNeighborsClassifier
k = 4
  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_treino,y_treino)
neigh

<ipython-input-11-8986516b6eb0>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  neigh = KNeighborsClassifier(n_neighbors = k).fit(X_treino,y_treino)

KNeighborsClassifier(n_neighbors=4)

## Predizendo

In [12]:
y_pred = neigh.predict(X_teste)
y_pred[0:5]

array([ True, False, False, False, False])

## Acuracia

In [13]:
from sklearn import metrics
print("Acuracia do Treino: ", metrics.accuracy_score(y_treino, neigh.predict(X_treino)))
print("Acuracia do Teste: ", metrics.accuracy_score(y_teste, y_pred))

Acuracia do Treino:  0.8911819887429644
Acuracia do Teste:  0.9063670411985019